.faq{
  padding: 50px;
}
.headings h1{
  text-align: center;
  margin-top: 20px;
}


/* Responsive for mobile  */
@media only screen and (max-width: 480px) {
  .faq {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

}