.bodyClass{
  margin: 0px 30px;
}
.heading{
  font-size: 18px;
  font-weight: bold;
}
.Maincard{
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
  
}
.Maincard button{
  width: 100%;
  padding: 10px;
  background-color: lightskyblue;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.Maincard button:hover{
  background-color: rgb(60, 180, 255);
}

.infobox{
  padding: 10px;
}
.imgdiv{
  display: flex;
  justify-content: center;
}
.imgdiv img{
  margin-top: 5px;
  width: 280px;
  height: 200px;
  border-radius: 5px;
  
}
.bodypart{
  display: grid;
  grid-template-columns: repeat(3 ,1fr);
  gap: 10px;
}